<div class="footer">
    <div class="footer-text">
        <h1 class="todoit-lego">Todo It</h1>
        <p>© Wild Programmers Technologies, Inc.</p>
    </div>
    <div class="social-links">
        <a href="https://www.instagram.com/compragamer_oficial/?hl=es-la" target="_blank"><img class="social-logo" src="../../../assets/images/Instagram.png" alt="Instagram Logo"></a>
        <a href="https://www.facebook.com/compragamer/" target="_blank"><img class="social-logo" src="../../../assets/images/facebook.png" alt="Facebook Logo"></a>
    </div>
</div>
