<body class="styler">
    <div class="hero">
        <h1 class="font-styler"><span style="color: #E73651; font-weight: bolder;">Todo It</span> <br>Un nuevo concepto<br>En servicio técnico integral</h1>
        <img class="hero-image" src="../../../assets/images/Girl.png" alt="mujer consultando el estado de su pedido">
    </div>
    <div class="card-title"><h1 class="font-styler">Nuestras principales <span style="color:#E73651">Fortalezas</span></h1></div>
    <div class="main-cards">
        <div class="cards">
            <mat-icon>gpp_good</mat-icon>
            <h3>Seguridad</h3>
            <p>Tus paquetes asegurados</p>
            <p>al 100%</p>
        </div>
        <div class="cards">
            <mat-icon>local_shipping</mat-icon>
            <h3>Puerta a Puerta</h3>
            <p>Servicio a nivel</p>
            <p>nacional</p>
        </div>
        <div class="cards">
            <mat-icon>payments</mat-icon>
            <h3>Financiación</h3>
            <p>Multiples</p>
            <p>medios de pago</p>
        </div>
        <div class="cards">
            <mat-icon>gps_fixed</mat-icon>
            <h3>Seguimiento Online</h3>
            <p>Desde cualquier lugar</p>
            <p>sigue tu paquete</p>
        </div>
    </div>
    <div class="main-brands">
        <h1 class="font-styler">Principales <span style="color:#E73651">Marcas</span> que confian en nosotros</h1>
    </div>
</body>
