<body class="styler">
    <div class="hero">
        <h1 class="font-styler"><span style="color: #E73651; font-weight: bolder;">Todo It</span> <br>Un nuevo concepto<br>En servicio técnico integral</h1>
        <img class="hero-image" src="../../../assets/images/Girl.png" alt="mujer consultando el estado de su pedido">
    </div>
    <div class="card-title"><h1 class="font-styler">Nuestras principales <span style="color:#E73651">Fortalezas</span></h1></div>
    <div class="main-cards">
        <div class="cards">
            <mat-icon>gpp_good</mat-icon>
            <h3>Seguridad</h3>
            <p>Tus paquetes asegurados</p>
            <p>al 100%</p>
        </div>
        <div class="cards">
            <mat-icon>local_shipping</mat-icon>
            <h3>Puerta a Puerta</h3>
            <p>Servicio a nivel</p>
            <p>nacional</p>
        </div>
        <div class="cards">
            <mat-icon>payments</mat-icon>
            <h3>Financiación</h3>
            <p>Multiples</p>
            <p>medios de pago</p>
        </div>
        <div class="cards">
            <mat-icon>gps_fixed</mat-icon>
            <h3>Seguimiento Online</h3>
            <p>Desde cualquier lugar</p>
            <p>sigue tu paquete</p>
        </div>
    </div>
    <div class="main-reviews">
        <h1 class="font-styler">Personas que <span style="color:#E73651">Aman</span> usar nuestro servicio</h1>
        <div class="reviews">
            <mat-card class="review-card">
                <mat-card-header>
                  <div mat-card-avatar><img class="avatar" src="../../../assets/images/BillGatesAvatar.jpg" alt="Bill Gates"></div>
                  <mat-card-title>Bill Gates</mat-card-title>
                  <mat-card-subtitle>@BillyBoy</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Excelente Servicio y puntualidad
                    Todo IT es la unica empresa a la que le puedo confiar
                    mi iPad.
                  </p>
                </mat-card-content>
              </mat-card>

            <mat-card class="review-card">
                <mat-card-header>
                  <div mat-card-avatar><img class="avatar" src="../../../assets/images/LinusTorvald.jpeg" alt="LinusTorvald"></div>
                  <mat-card-title>Linus Torvald</mat-card-title>
                  <mat-card-subtitle>@LinusTorvaldLovesWindows</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    La pantalla azul ya no es un problema
                    para mí, Todo IT
                    lo soluciona en tan solo un momento.
                  </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="review-card">
                <mat-card-header>
                  <div mat-card-avatar><img class="avatar" src="../../../assets/images/TonyStark.jfif" alt="Tony Stark"></div>
                  <mat-card-title>Tony Stark</mat-card-title>
                  <mat-card-subtitle>@IronMan</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Mark I, Mark II, Mark III
                    Los técnicos de Todo IT lo
                    tienen todo solucionado.
                  </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="review-card">
                <mat-card-header>
                  <div mat-card-avatar><img class="avatar" src="../../../assets/images/elonmusk.jpeg" alt="Elon Musk"></div>
                  <mat-card-title>Elon Musk</mat-card-title>
                  <mat-card-subtitle>@ElonMusk</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Productos de calidad y Servicio
                    técnico de primer nivel,
                    SpaceX no sería lo mismo 
                    sin Todo IT.
                  </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="review-card">
                <mat-card-header>
                  <div mat-card-avatar><img class="avatar" src="../../../assets/images/Ganzo.jpg" alt="Ganzo"></div>
                  <mat-card-title>El Ganzo</mat-card-title>
                  <mat-card-subtitle>@HayQuedarmeDeComer</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Cuack!
                  </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="review-card">
                <mat-card-header>
                  <div mat-card-avatar><img class="avatar" src="../../../assets/images/Yoda.png" alt="Yoda"></div>
                  <mat-card-title>Maestro Yoda</mat-card-title>
                  <mat-card-subtitle>@YodaKnight</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Si tus electrónicos cuidar quieres
                    en Todo IT
                    confiar debes.
                  </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="review-card">
                <mat-card-header>
                  <div mat-card-avatar><img class="avatar" src="../../../assets/images/mark-zuckerbergjpg.jpg" alt="Mark Zuckenberg"></div>
                  <mat-card-title>Mark Zuckenberg</mat-card-title>
                  <mat-card-subtitle>@MarkLoSabeTodo</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Puedo confiar mis servidores
                    a Todo IT
                    sé que mantendran mis datos seguros!
                  </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="main-tryservice">
        <h1 class="font-styler"><span style="color: #E73651">Registrate</span> ahora y confía en técnicos altamente calificados!</h1>
        <div><img class="register-image" src="../../../assets/images/casual-life-3d-boy-working.png" alt="Hombre trabajando en PC">
        </div>
        <div>
          <button class="register-button" routerLink="/register" mat-raised-button>Registrarse</button>
        </div>
    </div>
    <app-footer></app-footer>
</body>
