@media (max-width:959px){
  .hidebtn {
    visibility: hidden;
  }
}

@media (max-width:408px){
  .register-btn, .login-btn {
    visibility: hidden;
  }
}

.tool-bar-clip{
  overflow: hidden;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

.mat-toolbar a{
  margin: 0 10px;
}

.toolbar-top{
  color: #1B294B;
  background-color: #BCC5F0;
}

.register-btn{
  background-color: #E73651 ;
}

.login-btn{
  color: #1B294B;
  border-color: #1B294B;
}

.navbar-logo{
  max-height: 50px;
  margin-top: 10px;
  color: #1B294B;
}