<!--Contenido de barra Lateral--> 
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      [ngClass]="{hidden: !(isHandset$ | async)!}"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="hidden-toolbar">Todo IT</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/inicio">Inicio</a>
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item routerLink="/register">Registrarse</a>
    </mat-nav-list>
  </mat-sidenav>
<!--Contenido de barra Superior--> 
  <mat-sidenav-content class="tool-bar-clip">
    <mat-toolbar class="toolbar-top">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> <a routerLink="/inicio"><img class="navbar-logo" src="../../assets/images/Logo Box Space Cadet Alt SVG.svg" alt="Logo de Todo IT"></a></span>
      <div class="spacer"></div>
      <a class="hidebtn" routerLink="/inicio" mat-button>Inicio</a>
      <a class="hidebtn" routerLink="/login" mat-stroked-button class="login-btn">Login</a>
      <a mat-raised-button routerLink="/register" class="register-btn">Registrarse</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
